.product {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  z-index: 1;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  min-height: 380px;
  min-width: 100px;
  animation: linear 0.5s;
  margin-bottom: 15px;
}
.product > img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
}
.product_info {
  height: 100px;
  margin-bottom: 15px;
 
}

.product_price {
  margin-top: 5px;
}
.product_rating {
  display: flex;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 15px;


}
@media (min-width:400px) and (max-width:600px) {
 .product{
   width: 90%;
   margin: 1%;
   padding:5px;
   min-height: 150px;
   
 }
 p{
   font-size: small;
 }
 .product > img{
  max-height: 100px;
  width: 100%;
  object-fit: contain;
 }
 .product_info {
  height: 170px;
 
 
}
.product > button {

  width: 70%;
   margin-left:12%;
   margin-top: 15px;
 
 
 }

  }
  @media (min-width:600px) and (max-width:800px) {
    .product{
      width: 90%;
      margin: 1%;
      padding:5px;
      min-height: 150px;
      
    }
    p{
      font-size: small;
    }
    .product > img{
     max-height: 100px;
     object-fit: contain;
    }
    .product_info {
     height: 170px;
     margin: 1%;
    
    
   }.product > button {
    margin-top: 10px;
    
     
     width: 60%;
     margin-left:15%;
     margin-top: 15px;
   
   
   }
   
     }
     @media (min-width:800px) and (max-width:1200px) {
      .product{
        margin: 1%;
       min-height: 300px;
        
      }
      p{
        font-size:medium;
      }
     
      .product > img{
       max-height: 150px;
      }
      .product_info {
       height: 150px;
       margin-top: 5px;
      
      
     }
    
     
       }
      
